/* Author : Aabhaas Jain */
#footer{

    background-image: linear-gradient(to left, rgba(17, 45, 92, 0.9) , rgba(40, 111, 18, 0.9));
    position: static;
    bottom: 0;
    width: 100%;
    margin-bottom: 0 !important;
}